doctype html 
html (lang="en")
    head 
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width , initial-scale=1.0")
        title Document 
        link(rel="stylesheet", href="style.css")
    body 
        div 
           header.purple 
                h2 pug tmplate Engin 
            section 
                h2.springgreen section of my web app 
                p.greenyellow web 
            footer 
                h3.hotpink footer  of my web app 
                p 
                    a(href="http://localhost3000" target="blank")my link