doctype html 
html (lang="en")
    head 
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width , initial-scale=1.0")
        title Document 
    body 
        div 
           header.purple 
                h2 pug tmplate Engin 
            section 
                h2.hotPink #{section}
                p.springGreen its site
            footer 
                h3.hotpink footer  of my web app 
                p 
                    a(href="link" target="blank") #{link}