.salmon {
    color: salmon;
}
.purple {
    color: purple;
}
.hotPink {
    color:hotpink;
}
springGreen {
    color: springgreen;
}
greenyellow {
    color: greenyellow;
}
turquoise{
    color: turquoise
}