.salmon {
    color: salmon;
}
.purple {
    color: purple;
}
.hotPink {
    color:hotPink;
}
springGreen {
    color: springGreen;
}
greenYellow {
    color: greenYellow;
}
turquoise{
    color: turquoise
}